.top {
    display: block;
    position: fixed;
    width:100%;
    height: 100px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 15;
    }


div {
    display: block;
    position: static;
    top: 100px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    }

.card {
    display: grid-auto-rows: auto;
    }

.summary {
    display: block;
    color: black;
    position: relative;
    text-align: center;
    top: 80px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    padding-top: 20px;
    font: small-caps 18px Georgia, serif;
    }

.title {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 28px;
    text-align: center;
    word-spacing: 0px;
    margin-top: 30px;
    text-indent: 0px;
    color: green;
    }

h3 {
    text-align: left;
    font-size: 40px;
    font: italic small-caps bold 16px/2 cursive;
    text-indent: 30px;
   }


p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    text-align: left;
    word-spacing: 10px;
    margin: 20px;
    text-indent: 30px;
    line-height: 1.5;
    }

body {
    margin: auto;
    width: 75%;
     }

.margin {
    display: block;
    position: relative;
    padding-bottom: 50px;
    }

a {
   text-decoration: none;
   display: block;
   padding: 5px 10px;
   letter-spacing: 1px;
   margin: 0 20px;
   font-size: 24px;
    }

.href {
   color: gray;
   border: 2px solid transparent;
    }

.href:hover {
   border: 2px solid silver;
   color: green;
    }

.the_end {
    font-size: 30px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}